:root{
    --link-text-color:#1ebba3;
}

h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 2.5rem;
    color: #091f2f;
    text-transform: uppercase;
}

a{
       font-weight: 600;
}


.faq-header{
    background-image: url(https://media.audleytravel.com/-/media/images/home/canada-and-the-usa/canada/places/istock531711783_montreal_city_800x2400.jpg?q=79&w=1920&h=640);
    background-size: cover;
    min-height: 15rem;
    padding: 0;    
}

.additional-backgroud{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;   
     background-color: rgba(0,0,0,0.5);

}

/* search bar */
.searchbar input.form-control[type=text] {
    border:none
}


/* accordion */
.accordion-section .panel-default > .panel-heading {
    border: 0;
    padding: 0;
}

.fab{
    letter-spacing: 1rem;
    font-size: 1.5rem;
}

.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.2rem;
   }

.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
       float: right;
    margin-top: -12px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}






