/* version1022.1 by Edwin */
.gallary .sightseeingCard {
  background-color: #ffffff;
  width: 320px;
  height: 400px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.18);
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.18);
}

.gallary .sightseeingCard .sightseeingImage img {
  -webkit-transform: scale(0.75, 0.75) translateY(-20px);
          transform: scale(0.75, 0.75) translateY(-20px);
  background-color: white;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: -webkit-filter, -webkit-transform 500ms ease 50ms;
  transition: -webkit-filter, -webkit-transform 500ms ease 50ms;
  transition: filter, transform 500ms ease 50ms;
  transition: filter, transform 500ms ease 50ms, -webkit-filter, -webkit-transform 500ms ease 50ms;
}

.gallary .sightseeingCard .sightseeingImage img:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 500ms ease 50ms;
  transition: all 500ms ease 50ms;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingTitle {
  margin-top: -25px;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingTitle .sightseeingName {
  color: #414141;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingTitle .sightseeingVideo:hover {
  color: #3085e6;
  cursor: pointer;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingRating .sightseeingRates {
  color: #ffc400;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingRating .sightseeingRateNumber:hover {
  color: #3085e6;
  cursor: pointer;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingService .serviceItem {
  color: #08a337;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingService .serviceItem:hover {
  cursor: pointer;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingService .serviceItemGray {
  color: #818181;
}

.gallary .mini-wrapper-lg,
.gallary .mini-wrapper-md {
  width: 160px;
  height: 410px;
}

.gallary .sightseeingCard-mini {
  background-color: #ffffff;
  width: 153px;
  height: 190px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.18);
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.18);
}

.gallary .sightseeingCard-mini .sightseeingImage-mini img {
  -webkit-transform: scale(0.75, 0.75) translate(-5px, -10px);
          transform: scale(0.75, 0.75) translate(-5px, -10px);
  background-color: white;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: -webkit-filter, -webkit-transform 500ms ease 50ms;
  transition: -webkit-filter, -webkit-transform 500ms ease 50ms;
  transition: filter, transform 500ms ease 50ms;
  transition: filter, transform 500ms ease 50ms, -webkit-filter, -webkit-transform 500ms ease 50ms;
}

.gallary .sightseeingCard-mini .sightseeingImage-mini img:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(0.9, 0.9) translate(-4px, -4px);
          transform: scale(0.9, 0.9) translate(-4px, -4px);
  -webkit-transition: all 500ms ease 50ms;
  transition: all 500ms ease 50ms;
}

.gallary .sightseeingCard-mini .sightseeingName-mini {
  color: #414141;
}

/* gallery style end */
@media screen and (max-width: 768px) {
  .filter-collapse {
    display: none;
  }
}

@media screen and (min-width: 768px), (max-width: 460px) {
  .filter-expand-sm {
    display: none;
  }
}

.filterItemHighlight-sm {
  background-color: #cee4fd;
  color: #616161;
  border-radius: 5px;
}

.filterItem-sm {
  color: #616161;
}

.filterItem-sm:hover {
  background-color: #cee4fd;
  border-radius: 5px;
}

.filterItem-sm a:link {
  color: #616161;
}

.filterItem-sm a:visited {
  color: #616161;
}

.seeMore {
  border: none;
}

.asideBar {
  -webkit-box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.02);
          box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.02);
  height: 100%;
}

.asideBar .input-search {
  border-radius: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #a1a1a1;
  font-size: 1.6rem;
  color: #414141;
}

.asideBar .input-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.asideBar .input-search:focus:-ms-input-placeholder {
  color: transparent;
}

.asideBar .input-search:focus::-ms-input-placeholder {
  color: transparent;
}

.asideBar .input-search:focus::placeholder {
  color: transparent;
}

.asideBar .filterItemHighlight {
  color: #616161;
  background-color: #cee4fd;
}

.asideBar .filterItem {
  color: #616161;
}

.asideBar .filterItem:hover {
  background-color: #cee4fd;
}

.asideBar .filterItem a:link {
  color: #616161;
}

.asideBar .filterItem a:visited {
  color: #616161;
}
/*# sourceMappingURL=search.css.map */